<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Suis Credit Investment Bank</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="../ass/site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="../ass/favish.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="../ass/css/bootstrap.min.css">
    <link rel="stylesheet" href="../ass/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../ass/css/magnific-popup.css">
    <link rel="stylesheet" href="../ass/css/font-awesome.min.css">
    <link rel="stylesheet" href="../ass/css/themify-icons.css">
    <link rel="stylesheet" href="../ass/css/nice-select.css">
    <link rel="stylesheet" href="../ass/css/flaticon.css">
    <link rel="stylesheet" href="../ass/css/gijgo.css">
    <link rel="stylesheet" href="../ass/css/animate.css">
    <link rel="stylesheet" href="../ass/css/slick.css">
    <link rel="stylesheet" href="../ass/css/slicknav.css">
    <link rel="stylesheet" href="../ass/css/style.css">

    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">


    <!-- <link rel="stylesheet" href="../ass/css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="../ass/https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
<div>
    <%- body %>
</div>
    <!-- header-start -->
    <!-- JS here -->

<script  src="https://unpkg.com/filepond/dist/filepond.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
<script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
<script  src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="../ass/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="../ass/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="../ass/js/popper.min.js"></script>
    <script src="../ass/js/bootstrap.min.js"></script>
    <script src="../ass/js/owl.carousel.min.js"></script>
    <script src="../ass/js/isotope.pkgd.min.js"></script>
    <script src="../ass/js/ajax-form.js"></script>
    <script src="../ass/js/waypoints.min.js"></script>
    <script src="../ass/js/jquery.counterup.min.js"></script>
    <script src="../ass/js/imagesloaded.pkgd.min.js"></script>
    <script src="../ass/js/scrollIt.js"></script>
    <script src="../ass/js/jquery.scrollUp.min.js"></script>
    <script src="../ass/js/wow.min.js"></script>
    <script src="../ass/js/nice-select.min.js"></script>
    <script src="../ass/js/jquery.slicknav.min.js"></script>
    <script src="../ass/js/jquery.magnific-popup.min.js"></script>
    <script src="../ass/js/plugins.js"></script>
    <script src="../ass/js/gijgo.min.js"></script>
    <script src="../ass/js/slick.min.js"></script>
    <!--contact js-->
    <script src="../ass/js/contact.js"></script>
    <script src="../ass/js/jquery.ajaxchimp.min.js"></script>
    <script src="../ass/js/jquery.form.js"></script>
    <script src="../ass/js/jquery.validate.min.js"></script>
    <script src="../ass/js/mail-script.js"></script>

    <script src="../ass/js/main.js"></script>
    <script>
    FilePond.registerPlugin(
FilePondPluginImagePreview,
FilePondPluginImageResize,
FilePondPluginFileEncode,
)
FilePond.parse(document.body)
    </script>
</body>

</html>