<header>
  <div class="header-area ">
      
      <div id="sticky-header" class="main-header-area">
          <div class="container">
              <div class="header_bottom_border">
                  <div class="row align-items-center">
                      <div class="col-xl-6 col-lg-7">
                          <div class="logo">
                              <img src="../ass/img/SUIS CREDIT BANK white all-01.png" alt="" style="width: 50%;
                              margin-top: -20%;
                              margin-bottom: -22%;">   
                          </div>
                      </div>
                      <div class="col-xl-6 col-lg-7">
                          <div class="main-menu  d-none d-lg-block" style="    margin-left: 48%;
                          ">
                              <nav>
                                  <ul id="navigation">
                                          <li><a class="active" href="/">home</a></li>
                                          
                                          <li><a  href="/users/about">about us</a></li>
                                          <li><a href="/users/login">online login</a></li>
                                     
                                  </ul>
                              </nav>
                          </div>
                      </div>
                     
                      <div class="col-12">
                          <div class="mobile_menu d-block d-lg-none"></div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</header>
<!-- header-end -->

<!-- slider_area_start -->
<div class="slider_area">
  <div class="slider_active owl-carousel">
     
      <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="slider_text ">
                          <h3>Access your secure<br>
                              online banking Today</h3>
                          <div class="video_service_btn">
                              <a href="/users/about" class="boxed-btn3">Learn More</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
          <div class="container">
              <div class="row">
                  <div class="col-xl-12">
                      <div class="slider_text ">
                          <h3>We will keep <br>
                                  and increase your finances</h3>
                          <div class="video_service_btn">
                              <a href="/users/about" class="boxed-btn3">Learn More</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
     
</div>
<!-- slider_area_end -->

<!-- service_area_start -->
<div class="service_area" id="aboutus">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="section_title text-center mb-50">
                  <h3>We Are Experts</h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-xl-4 col-md-6 col-lg-4">
              <div class="single_service text-center">
                  <div class="service_icon">
                      <img src="../ass/img/svg_icon/1.svg" alt="">
                  </div>
                  <h3>Our Mission</h3>
                  <p  style='  color: #4D4D4D;'>We aspire to be one of the world's great specialist banking groups driven by commitment to our core philosophies and values.</p>
              </div>
          </div>
          <div class="col-xl-4 col-md-6 col-lg-4">
              <div class="single_service text-center">
                  <div class="service_icon">
                      <img src="../ass/img/svg_icon/2.svg" alt="">
                  </div>
                  <h3>Our Vision</h3>
                  <p  style='  color: #4D4D4D;'>Though an international network linked by advanced technology, including a rapidly growing e-commerce capabiity, Suis Credit Investment bank provides a comprehensive range of financial services; personal financial services; commercial banking; corporate, investment banking and markets, private banking an other activities</p>
              </div>
          </div>
          <div class="col-xl-4 col-md-6 col-lg-4">
              <div class="single_service text-center">
                  <div class="service_icon">
                      <img src="../ass/img/svg_icon/3.svg" alt="">
                  </div>
                  <h3>Financial & Business</h3>
                  <p  style='  color: #4D4D4D;'>We solve business problems, take a consultative approach to every client engagement, and find actionable solutions that will help your organization achive the best business outcomes.</p>
              </div>
          </div>
          
      </div>
  </div>
</div>
<!-- service_area_end -->

<!-- about_info_area start  -->
<div class="about_info_area">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
              <div class="about_text">
                  <h3>20 Years Experience in Financial & Business
                  </h3>
                  <p  style='  color: #4D4D4D;'>
                      Apparently we had reached a great height in the atmosphere, for the sky was a dead black and the stars had ceased to twinkle, By the same illusion which lifts the horizon of the sea to the level of the speactator on press for miles on a hillside. Each business niche may require a unique functionality of its own… With that notion in mind, our team of professional has been working day and night to roll out a definitive</p>
              </div>
          </div>
          <div class="col-xl-6 col-lg-6">
              <div class="about_thumb">
                  <img src="../ass/img/service/about.png" alt="">
              </div>
          </div>
      </div>
  </div>
</div>
<!-- /about_info_area end  -->

<!-- counter_area  -->
<div class="counter_area counter_bg_1 overlay_03">
  <div class="container">
      <div class="row" style="    margin-left: 22%;
      ">
          <div class="col-xl-3 col-lg-3 col-md-3">
              <div class="single_counter text-center">
                  <div class="counter_icon">
                      <img src="../ass/img/svg_icon/group.svg" alt="">
                  </div>
                  <h3> <span class="counter">350</span> <span> +</span> </h3>
                  <p  style='  color: #4D4D4D;'>Consultants</p>
              </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3">
              <div class="single_counter text-center">
                  <div class="counter_icon">
                      <img src="../ass/img/svg_icon/cart.svg" alt="">
                  </div>
                  <h3> <span class="counter">954</span> <span>+</span> </h3>
                  <p  style='  color: #4D4D4D;'>Cases Completed</p>
              </div>
          </div>
         
          <div class="col-xl-3 col-lg-3 col-md-3">
              <div class="single_counter text-center">
                  <div class="counter_icon">
                      <img src="../ass/img/svg_icon/respect.svg" alt="">
                  </div>
                  <h3> <span class="counter">25</span> </h3>
                  <p  style='  color: #4D4D4D;'>Awards</p>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- /counter_area  -->

<!-- case_study_area  -->
<div class="case_study_area">
  <div class="container">
      <div class="border_bottom">
              <div class="row">
                      <div class="col-xl-12">
                          <div class="section_title text-center mb-40">
                              <h3>Explore Our Solutions                                    </h3>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xl-12">
                          <div class="case_active owl-carousel">
                                  <div class="single_case">
                                          <div class="case_thumb">
                                                  <img src="../ass/img/case/1.png" alt="">
                                              </div>
                                      <div class="case_heading">
                                          <span>Market Research</span>
                                          <h3><a href="../ass/#">Effective marketing in today’s environment demands a greater understanding of key constituencies and consumers.</a></h3>
                                      </div>
                                  </div>
                                  <div class="single_case">
                                          <div class="case_thumb">
                                                  <img src="../ass/img/case/2.png" alt="">
                                              </div>
                                      <div class="case_heading">
                                              <span>Sales Service</span>
                                              <h3><a href="../ass/#">We are able to approach the marketplace with the assurance that our sales methods are reality-based and proven.</a></h3>
                                      </div>
                                  </div>
                                  <div class="single_case">
                                          <div class="case_thumb">
                                                  <img src="../ass/img/case/3.png" alt="">
                                              </div>
                                      <div class="case_heading">
                                              <span>Strategic Consulting</span>
                                              <h3><a href="../ass/#">We interpret the data and filter it through years of industry experience to give clients strategic insight and direction.</a></h3>
                                      </div>
                                  </div>
                                  <div class="single_case">
                                          <div class="case_thumb">
                                                  <img src="../ass/img/case/1.png" alt="">
                                              </div>
                                      <div class="case_heading">
                                              <span>Finance Solution</span>
                                              <h3><a href="../ass/#">Consumer Products Consulting</a></h3>
                                      </div>
                                  </div>
                          </div>
                          
                      </div>
                  </div>
                 
      </div>
  </div>
</div>
<!-- /case_study_area  -->



<div class="testimonial_area overlay ">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="testmonial_active owl-carousel">
                 
                  <div class="single_carousel">
                          <div class="single_testmonial text-center">
                                  
                                  <p  style='  color: white;'>Access our online banking </p>
                                  <div class="video_service_btn">
                                      <a href="users/login" class="boxed-btn3">login</a>
                                  </div>
                              </div>
                  </div>
                  
              </div>
          </div>
      </div>
  </div>
</div>



<div class="contact_form_quote" id="contactus">
  <div class="container">
      <div class="row">
          <div class="col-xl-5 col-lg-6">
              <div class="form_wrap">
                      <h3>Have Any Questions?</h3>
                      <form action="#">
                          <input type="text" placeholder="Your Name" >
                          <input type="email" placeholder="Email" >
                          <textarea name="#" id="" cols="30" rows="10" placeholder="Message" ></textarea>
                          <button class="boxed-btn3">Send</button>
                      </form>
              </div>
          </div>
          <div class="col-xl-6 offset-xl-1 col-lg-6">
              <div class="contact_thumb">
                  <img src="../ass/img/banner/contact_thumb.png" alt="">
              </div>
          </div>
      </div>
  </div>
</div>

<!-- footer start -->
<footer class="footer" style="    margin-top: -5%;
">
  <div class="footer_top">
      <div class="container">
          <div class="row">
              <div class="col-xl-3 col-md-6 col-lg-3">
                  <div class="footer_widget">
                      <div class="footer_logo">
                          <a href="../ass/#">
                              <h3 style="color: #001D38;">Suis Credit Investment bank</h3>                                </a>
                      </div>

                      <p>
                        Suis Credit Investment  Bank operates under a single brand name and logo all over the world. Since the bank was founded in 1865, we have experienced many highs and lows, from rapid expansion to revolutions, economic crises and new technologies. But throughout our history we have continued to build long-lasting 
                        relationships with our customers, connecting them to opportunities and helping them to thrive.
                      </p>
                      
                      

                  </div>
              </div>
              <div class="col-xl-2 col-md-6 col-lg-3">
                  <div class="footer_widget">
                      <h3 class="footer_title">
                              Services
                      </h3>
                      <ul>
                          <li><a href="#aboutus">Marketing & SEO</a></li>
                          <li><a href="#aboutus"> Startup</a></li>
                          <li><a href="#aboutus">Finance solution</a></li>
                      </ul>

                  </div>
              </div>
              <div class="col-xl-2 col-md-6 col-lg-2">
                  <div class="footer_widget">
                      <h3 class="footer_title">
                              Useful Links
                      </h3>
                      <ul>
                          <li><a href="#aboutus">About</a></li>
                          <li><a href="#contactus"> Contact</a></li>
                          <li><a href="#contactus">Appointment</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6 col-lg-4">
                      <div class="footer_widget">
                              <h3 class="footer_title">
                                      Subscribe
                              </h3>
                              <form action="#" class="newsletter_form">
                                  <input type="text" placeholder="Enter your mail">
                                  <button type="submit">Subscribe</button>
                              </form>
                              
                          </div>
                          <p  style='  color: white;'>
                            support@suiscreditbank.com <br>
                           
                    </p>
              </div>
          </div>
      </div>
      <div style="    text-align: center;
      color: white;
      margin-top: 5%">

        <p>All rights reserved Suis Credit Investment Bank 2019</p>

      </div>

  </div>
 


</footer>
<!--/ footer end  -->

<!-- link that opens popup -->
